@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/Roboto-Regular.woff'),
         url('../fonts/Roboto-Regular.tff');
}
body { font-family: 'Roboto', 'Courier New', 'Times New Roman', sans-serif; }

a:hover { text-decoration: none; }

#navbar {
    position: fixed;
    min-height: 100%;
    max-width: 80px;
}

.nav .nav-link {
    color: #ebe1e1; 
    padding: .5em;
}

.nav a:hover {
    color: #4343bd;
    background-color: #22AA55;
}

.nav .nav-link .nav-link-text {
    font-size: .75rem;
}

.nav #nav-user-img {
    width: 60px;
    height: auto;
}

.bg-success-light {
    background-color: #4DAB6D;
}

.index-label { 
    min-width: 220px; 
}

.img-book { max-height: 160px; }
.img-book-lg { max-height: 400px; }

#footer {
    margin-top: 120px;
    padding-left: 50px;
    font-weight: bold;
    background-color: gray;
}
#footer a { color: #343a40; }
#footer a:hover { 
    text-decoration: none; 
    color: white; 
}

#footer .right { float: right; }
